<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <style th:include = "navigation.html::STYLE"></style>
</head>
<body>
<header th:insert = "navigation.html::HEADER"></header>
<nav th:insert = "navigation.html::NAV">
</nav>
<h3>Add Notes for <span th:remove = "tag" th:text="${customer.name}"></span></h3>
<form action="#" th:action="${Action}" th:object="${customerNotesForm}" method="post">
    <textarea rows = "20" cols = "150" name="notes"></textarea>
    <input type = "submit" value = "submit" />
</form>
</body>
</html>
