<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style th:include="navigation.html::STYLE"></style>
</head>
<body>
<header th:insert="navigation.html::HEADER"></header>
<nav th:insert="navigation.html::NAV"></nav>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <td th:text="${customer.id}"></td>
    </tr>
    <tr>
        <th>Name</th>
        <td th:text="${customer.name}"></td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td th:text="${customer.phonenumber}"></td>
    </tr>
    <tr>
        <th>Party Size</th>
        <td th:text="${customer.partysize}"></td>
    </tr>
    <tr>
        <th>Number of Kids</th>
        <td th:text="${customer.numKids}"></td>
    </tr>
    <tr>
        <th>Party Size</th>
        <td th:text="${customer.partysize}"></td>
    </tr>
</table>
</body>
</html>